/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#black {
    border-color: black;
    color: black;

}



#body-gray {
    background-color: dimgrey;
}

.control-label{
    color: black;
}

.text-input {
    background-color: gray;
    color: black;
    border-color: black;
    align-self: center;
   float: left;
    width: 70%;
}

.btn-input {
    background-color: gray;
    color: black;
    border-color: black;
}

.invisible{
    display: none;
    opacity: 0;
}

.character-text {
    text-align: center;
   
}

.element-center{
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
}

.body-content{
    width: 100%;
}

.btn-creator{
    font-weight: bold;
    float: right;
    width: 30%;
}

#IntroText{
    text-align: left;
    float: left;
}




