################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CharacterAPI/.vs/CharacterAPI/v16/Server/sqlite3/db.lock
/CharacterAPI/.vs/CharacterAPI/v16
